<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KanDota</title>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="http://designmodo.github.io/Flat-UI/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/html5shiv.js"></script>
      <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
      .text_overflow{
          width:15em;
          white-space:nowrap;
          text-overflow:ellipsis;
          -o-text-overflow:ellipsis;
          -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;
      }
      .footer p, .footer p a { font-size: 14px; text-align: center; font-family: "Microsoft YaHei"; color: #4d6373; margin: 0 10px; }
      .tile p {margin-bottom: 6px;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" target="javascript:;">KanDota</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav">
                <li><a href="/dota2">Dota2视频</a></li>
                <li><a href="/dota">Dota视频</a></li>
                <!--<li><a href="#fakelink">解说</a></li>-->
                <!--<li><a href="#fakelink">周边趣事</a></li>-->
                <li><a href="#fakelink">关于我们</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div>
      <div class="content">
        <% for(var i = 0; i < Math.floor(hits.length / 4); ++i) { %>
            <div class="row">
            <% for(var j = 0; j < 4; ++j) {%>
              <div class="col-xs-3">
                  <div class="tile">
                    <img src="<%= hits[i*4+j].img %>" style="width:200px" alt="Compas" class="tile-image big-illustration">  
                    <p class="text_overflow" title="<%=hits[i*4+j].title %>"><%=hits[i*4+j].title %></p>
                    <p><%=hits[i*4+j].author %></p>
                    <p><%=hits[i*4+j].created_at %></p>
                    <a class="btn btn-primary btn-large btn-block" href="http://dotamax.com/video/youku/?link=<%=hits[i*4+j].video_id%>" target="_blank">观看</a>
                  </div>
              </div>
            <% } %>
          </div>
        <% } %>
        <% if(hits.length % 4) { %>
          <div class="row">
            <% for(var j = 0; j < hits.length % 4; ++j) {%>
              <div class="col-xs-3">
                  <div class="tile">
                    <img src="<%= hits[Math.floor(hits.length/4)*4+j].img %>" style="width:200px" alt="Compas" class="tile-image big-illustration">  
                    <p class="text_overflow" title="<%=hits[Math.floor(hits.length/4)*4+j].title %>"><%=hits[Math.floor(hits.length/4)*4+j].title %></p>
                    <p><%=hits[Math.floor(hits.length/4)*4+j].author %></p>
                    <p><%=hits[Math.floor(hits.length/4)*4+j].created_at %></p>
                    <a class="btn btn-primary btn-large btn-block" href="http://dotamax.com/video/youku/?link=<%=hits[Math.floor(hits.length/4)*4+j].video_id%>" target="_blank">观看</a>
                  </div>
              </div>
            <% } %>
          </div>
        <% } %>
        <div class="rot pagination pull-right">
            <ul>
              <% if(pages.prev) {%>
              <li class="previous">
                <a href="<%= pages.prev %>" class="fui-arrow-left"></a>
              </li>
              <% } %>
              <% if(pages.next) {%>
              <li class="next">
                <a href="<%= pages.next %>" class="fui-arrow-right"></a>
              </li>
              <% } %>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer">
        <div class="container clearfix">
            <div class="footer-wrapper">
              <p>
                <a href="#">数据来源：</a>
                <a href="http://dota2.178.com/" target="_blank">178Dota2</a>
                <a href="http://dotamax.com/" target="_blank">dotamax</a>
                <a href="http://carry6.com/" target="_blank">星竞界</a>
              </p>
              <p>
                  <a href="http://www.miibeian.gov.cn/" target="_blank"></a>
              </p>
            </div>
        </div>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/jquery.min.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/flat-ui.min.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/docs/assets/js/application.js"></script>
  </body>
</html>
